services:
  gha-runner:
    image: myoung34/github-runner:latest
    container_name: gha-runner
    restart: unless-stopped
    env_file:
      - .env
    environment:
      RUNNER_SCOPE: repo
      RUNNER_WORKDIR: /tmp/runner/work
      RUNNER_GROUP: Default
      LABELS: self-hosted,linux,buildx,docker,${RUNNER_ARCH_LABEL:-amd64}
      EPHEMERAL: "1"
      DISABLE_AUTO_UPDATE: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./runner-data:/tmp/runner
